* {
  font-family: 'Hubballi', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
}

h1, h1 span {
  font-size: 2.5rem;
}

h2, h2 span {
  font-size: 2rem;
}

h3, h3 span {
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

hr {
  border-top: 0.1em dashed black;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
}

html {
  background-color: white;
}

body {
  align-items: center;
  margin:0;
  padding:0;
}

/* @media (orientation: landscape) {
  .big-container {
    margin: 20vw 20vw;
  }
} */

.center-text {
  text-align:center;
}

.gen-container {
  display: flex;
  align-items: center;
  position: relative;
}

@media (orientation: portrait) {
  .gen-container.squish {
    max-width:100%
  }
}

@media (orientation: landscape) {
  .gen-container.squish {
    max-width:60%
  }
}

.gen-container.tall {
  flex-direction: column;
}

.gen-container.center-insides {
  justify-content: center;
}

.gen-container.padded {
  padding: 1.5rem;
}

.gen-container.lightly-padded {
  padding: 1.0rem;
}

.gen-container.bubbly {
  margin: 1.5rem;
  border-radius: 1.5rem;
}

.gen-container.alt-color-1 {
  background-color: rgb(230, 126, 178);
}

.gen-container.alt-color-2 {
  background-color: rgb(240, 166, 203);
}

.top-banner-container {
  background-color: rgb(240, 166, 203);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 40px;
}

@media (orientation: portrait) {
  .logo-splash {
    height: 5vw;
  }
}

.logo-splash {
  bottom: 0;
  justify-content: center;
  background-image: url('../public/femboyDAO_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position:left bottom;
}

.banner-splash {
  /* justify-content: center;
  background-image: url('../public/splash_graffiti.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center; */
}

@media (orientation: landscape) {
  .splash-image {
    width:80%;
    max-height:100vh;
  }
}

@media (orientation: portrait) {
  .splash-image {
    /* width:100%; */
    width: 105vw;
    margin:3vh 0vh;
  }
}

.splash-container {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* min-height: 60vh; */
  overflow: hidden;
}

.gen-button {
  background: linear-gradient(90deg, #ffe4fb 0%, rgb(255, 186, 225) 100%);
  color: #d04d65;
  margin: 0;
  height: 55px;
  font-size: 25px;
  font-weight: 600;
  margin: 10px;
}

.gen-input {
  height: 51px;
  padding: 0 15px;
  border: none;
  border-radius: 8px;
  color: #d04d65;
  font-size: 25px;
  font-weight: 600;
  background-color: #d04d65;
  background-color: #ffe4fb;
  width: calc(100% - 30px);
  transition: outline .15s ease;
}

.gen-button:hover {
  box-shadow: 0 6px 32px 0 #a4384dc2;
}

.big-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 40px;
  margin: 25px;
  border-radius: 10px;
}

.flat-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(230, 126, 178);
  padding: 65px;
  margin: 0px;
}

.big-container.transparent {
  background-color: transparent;
}

.footer-container {
  padding: 20px;
  justify-content: center;
  justify-items: center;
  background-color: rgb(230, 126, 178);
}

.footer {
  z-index: 2;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 40%;
  display: flex;
  flex-direction: row;
  height: 20px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer img {
  height: 2rem;
}

.footer a {
  display: flex;
}

/* #root {
  max-width: 500px;
} */

h3, span, p {
  color: #d04d65;
}

.token {
  padding: 2px 5px;
  background-color: #D04D65;
  border-radius: 5px;
  font-size: 19px;
  color: #fff;
}

.container-content .token {
  background-color: #FFE4FB;
  color: #d04d65!important;
}

.countdown {
  color: #D04D65;
  font-size: 23px;
  margin: 0;
  background-color: #FFE4FB;
  border-radius: 10px;
  display: inline-block;
  padding: 4px 15px;
  margin: 0 auto;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Nav (the GOAT) */

.navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  border-radius: 11px;
  padding:10px;

  height: 0px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-connect {
  padding:10px;
}

/* Buttons */

button {
  height: 41px;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px 15px;
  border: 1px solid #D04D65;
  border-radius: 8px;
  background-color: transparent;
  color: #D04D65;
  box-shadow: 0 2px 11px 0 transparent;
  cursor: pointer;
  transition: box-shadow .5s ease;
}

button:hover {
  box-shadow: 0 2px 12px 0 #ca355047;
}

.button-deposit {
  background: linear-gradient(90deg, #ffe4fb 0%, rgb(255, 186, 225) 100%);
  color: #d04d65;
  width: 100%;
  margin: 0;
  height: 55px;
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.button-deposit:hover {
  box-shadow: 0 6px 32px 0 #a4384dc2;
}

.toggle-menu, .toggle-details {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-right: 9px;
  margin: 0;
  background-color: #fff;
  z-index: 5;
}

.toggle-menu svg, .toggle-details svg {
  filter: invert(37%) sepia(24%) saturate(2585%) hue-rotate(309deg) brightness(98%) contrast(80%);
  transition: transform .2s ease;
}

.menu-open .toggle-menu svg {
  transform: rotate(180deg);
}

.container-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: transform .2s ease, opacity .5s ease;
}

.menu-open .container-buttons {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
  box-shadow: 0 2px 12px 0 #ca355047;
}

/* Inputs */

.input-deposit {
  height: 51px;
  padding: 0 15px;
  border: none;
  border-radius: 8px;
  margin: 15px 0 0 0;
  color: #d04d65;
  font-size: 25px;
  font-weight: 600;
  background-color: #d04d65;
  background-color: #ffe4fb;
  width: calc(100% - 30px);
  transition: outline .15s ease;
}

.input-deposit:focus, .input-deposit:active {
  outline: 2px solid #fff;
}

/* Deposit */

.container-content {
  position: relative;
  padding: 35px;
  background-color: #d04d65;
  border-radius: 20px;
  width: 430px;
  margin-top: -70px;
}

.container-content h1, .container-content p, .container-content span {
  color: #FFE4FB;
}

.container-content p:last-of-type {
  margin-bottom: 0;
}

.container-content h1 {
  font-size: 38px;
  margin: 0 0 15px 0;
}

p.error-message {
  position: absolute;
  bottom: -70px;
  right: 0;
  left: 0;
  text-align: center;
  color: #d04d65;
  background-color: #fff;
  line-height: 50px;
  border-radius: 10px;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 1;
}

/* Account data */

.button-disconnect {
  margin: 0;
}

.container-account-data {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  max-width: 310px;

  height: fit-content;
}

.container-account-data h3 {
  margin: 20px 0 10px 0;
  padding-top: 15px;
  border-top: 1px solid #ffe4fb;
}

.account-data {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  line-height: 26px;
  text-overflow: ellipsis;
  margin-bottom: 7px;
  color: #d04d65;
}

.account-data:last-of-type {
  margin: 0;
}

/* Container wallets buttons */

.container-wallets {
  display: flex;
  flex-direction: column;
}

.container-wallets button {
  margin: 0 0 10px 0;
}

.toggle-details {
  display: none;
}

/* Status */

.container-status {
  position: fixed;
  top: 60px;
  left: 60px;
  margin: 0;
  padding: 20px;
  width: unset;
  border-radius: 10px;
  background: white;
  width: 310px;
}

.container-status h1, .container-status p {
  color: #d04d65;
}

.container-status h1 {
  font-size: 23px;
}

/* Media query */

@media (max-width: 1px) {
  html {
    overflow-x: hidden;
    background-color: #FFE4FB;
  }
  body {
    align-items: flex-end;
    height: unset;
    padding: 20px;
    margin: 0;
    border-radius: 0;
  }
  body::after {
    position: fixed;
    left: 20px;
  }
  #root {
    display: flex;
    flex-direction: column;
    max-width: unset;
  }
  button {
    height: 48px;
    margin: 20px 20px 0 0;
  }
  .container-content {
    border-radius: 10px;
    width: calc(100% - 50px);
    margin: 20px 0 0 0;
    padding: 25px;
  }
  .container-deposit {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 228, 251, .5);
  }
  .input-deposit {
    margin: 15px 0 0 0;
    width: calc(100% - 30px);
  }
  .navbar {
    position: unset;
    padding: 0;
    border-radius: 0;
  }
  p.error-message {
    position: unset;
    width: calc(100% - 40px);
    margin-top: 20px;
    opacity: 1;
  }
  .toggle-menu, .toggle-details {
    justify-content: center;
  }
  .toggle-menu svg, .toggle-details svg {
    margin-left: 10px;
  }
  .container-account-data {
    max-width: unset;
    background-color: transparent;
    padding: 0;
  }
  .container-account-data h3 {
    padding-top: 0;
    border-top: none;
    margin: 0 0 15px 0;
  }
  .toggle-details {
    display: flex;
  }
  .account-data-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    transition: transform .2s ease, opacity .5s ease;
  }
  .container-buttons, .account-data-mobile {
    position: absolute;
    top: 70px;
    left: 20px;
    right: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #D04D65;
    border-radius: 10px;
    transform: translateY(-20px);
    z-index: 4;
  }
  .account-data-mobile {
    top: 135px;
  }
  .details-open .account-data-mobile {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
    box-shadow: 0 2px 12px 0 #ca355047;
  }
  .menu-on .container-buttons {
    transform: translateY(0);
  }
  .container-buttons button {
    margin: 0 0 10px 0;
  }
  .container-buttons button:last-of-type {
    margin: 0;
  }
  .button-disconnect, .toggle-details {
    margin: 0 0 15px 0;
    position: relative;
    width: 100%;
    background-color: #fff;
    z-index: 5;
  }
  .toggle-details {
    margin: 0;
  }
  /* Status */
  .container-status {
    position: unset;
    top: unset;
    left: unset;
  }
  /* Footer */
  .footer-container {
    align-items: center;
    justify-content: center;
    position: unset;
    width: 100%;
    background-color: white;
    margin-top: 25px;
    border-radius: 8px;
    height: 60px;
  }
  .footer-container a {
    height: 30px;
    width: 30px;
  }
}