* {
  font-family: 'Hubballi', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 22px;
}

html {
  background-color: #fff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFE4FB;
  padding: 50px;
  margin: 30px;
  border-radius: 10px;
  height: calc(100vh - 160px);
}

#root {
  max-width: 500px;
}

h3,
span,
p {
  color: #d04d65;
}

.token {
  padding: 2px 5px;
  background-color: #D04D65;
  border-radius: 5px;
  font-size: 19px;
  color: #fff;
}

.container-content .token {
  background-color: #FFE4FB;
  color: #d04d65!important;
}

#countdown {
  color: #FFE4FB;
  font-size: 45px;
  margin: 0;
}

/* Astolfo illustration */

body::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 30vw;
  height: 30vw;
  background-image: url('../public/astolfo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Nav (the GOAT) */

.navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 40px;
  right: 40px;
  padding: 20px;
  border-radius: 11px;
  flex-direction: column;
}

/* Buttons */

button {
  height: 41px;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px 15px;
  border: 1px solid #D04D65;
  border-radius: 8px;
  background-color: transparent;
  color: #D04D65;
  box-shadow: 0 2px 11px 0 transparent;
  cursor: pointer;
  transition: box-shadow .5s ease;
}

button:last-of-type {
  margin-bottom: 0;
}

button:hover {
  box-shadow: 0 2px 12px 0 #ca355047;
}

.button-deposit {
  background: linear-gradient(90deg, #ffe4fb 0%, rgb(255, 186, 225) 100%);
  color: #d04d65;
  width: 100%;
  margin: 0;
  height: 55px;
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.button-deposit:hover {
  box-shadow: 0 6px 32px 0 #a4384dc2;
}

.toggle-menu,
.toggle-details {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-right: 9px;
  margin: 0;
  background-color: #fff;
  z-index: 5;
}

.toggle-menu svg,
.toggle-details svg {
  filter: invert(37%) sepia(24%) saturate(2585%) hue-rotate(309deg) brightness(98%) contrast(80%);
  transition: transform .2s ease;
}

.menu-open .toggle-menu svg {
  transform: rotate(180deg);
}

.container-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: transform .2s ease, opacity .5s ease;
}

.menu-open .container-buttons {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
  box-shadow: 0 2px 12px 0 #ca355047;
}

/* Inputs */

.input-deposit {
  height: 51px;
  padding: 0 15px;
  border: none;
  border-radius: 8px;
  margin: 15px 0 0 0;
  color: #d04d65;
  font-size: 25px;
  font-weight: 600;
  background-color: #d04d65;
  background-color: #ffe4fb;
  width: calc(100% - 30px);
  transition: outline .15s ease;
}

.input-deposit:focus,
.input-deposit:active {
  outline: 2px solid #fff;
}

/* Deposit */

.container-content {
  position: relative;
  padding: 35px;
  background-color: #d04d65;
  border-radius: 20px;
  width: 430px;
  margin-top: -70px;
}

.container-content h1,
.container-content p,
.container-content span {
  color: #FFE4FB;
}

.container-content p:last-of-type {
  margin-bottom: 0;
}

.container-content h1 {
  font-size: 38px;
  margin: 0 0 15px 0;
}

p.error-message {
  position: absolute;
  bottom: -70px;
  right: 0;
  left: 0;
  text-align: center;
  color: #d04d65;
  background-color: #fff;
  line-height: 50px;
  border-radius: 10px;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 1;
}

/* Account data */

.button-disconnect {
  margin: 0;
}

.container-account-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.container-account-data h3 {
  margin: 20px 0 10px 0;
  padding-top: 15px;
  border-top: 1px solid #ffe4fb;
}

.account-data {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  line-height: 26px;
  text-overflow: ellipsis;
  margin-bottom: 7px;
  color: #d04d65;
}

.account-data:last-of-type {
  margin: 0;
}

/* Container wallets buttons */
.container-wallets {
  display: flex;
  flex-direction: column;
}

.container-wallets button {
  margin: 0 0 10px 0;
}

.toggle-details {
  display: none;
}

/* Media query */

@media (max-width: 950px) {
  html {
    overflow-x: hidden;
    background-color: #FFE4FB;
  }

  body {
    align-items: flex-end;
    height: unset;
    padding: 20px;
    margin: 0;
    border-radius: 0;
  }

  body::after {
    position: fixed;
    left: 20px;
  }

  #root {
    display: flex;
    flex-direction: column;
    max-width: unset;
  }

  button {
    height: 48px;
    margin: 20px 20px 0 0;
  }

  .container-content {
    border-radius: 10px;
    width: calc(100% - 50px);
    margin: 20px 0 0 0;
    padding: 25px;
  }

  .container-deposit {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 228, 251, .5);
  }

  .input-deposit {
    margin: 15px 0 0 0;
    width: calc(100% - 30px);
  }

  .navbar {
    position: unset;
    padding: 0;
    border-radius: 0;
  }

  p.error-message {
    position: unset;
    width: calc(100% - 40px);
    margin-top: 20px;
    opacity: 1;
  }

  .toggle-menu,
  .toggle-details {
    justify-content: center;
  }

  .toggle-menu svg,
  .toggle-details svg {
    margin-left: 10px;
  }

  .container-account-data {
    background-color: transparent;
    padding: 0;
  }

  .container-account-data h3 {
    padding-top: 0;
    border-top: none;
    margin: 0 0 15px 0;
  }

  .toggle-details {
    display: flex;
  }

  .account-data-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    transition: transform .2s ease, opacity .5s ease;
  }

  .container-buttons,
  .account-data-mobile {
    position: absolute;
    top: 70px;
    left: 20px;
    right: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #D04D65;
    border-radius: 10px;
    transform: translateY(-20px);
    z-index: 4;
  }

  .account-data-mobile {
    top: 135px;
  }

  .details-open .account-data-mobile {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
    box-shadow: 0 2px 12px 0 #ca355047;
  }

  .menu-on .container-buttons {
    transform: translateY(0);
  }

  .container-buttons button {
    margin: 0 0 10px 0;
  }

  .container-buttons button:last-of-type {
    margin: 0;
  }

  .button-disconnect,
  .toggle-details {
    margin: 0 0 15px 0;
    position: relative;
    width: 100%;
    background-color: #fff;
    z-index: 5;
  }

  .toggle-details {
    margin: 0;
  }
}